<!DOCTYPE html>
{%load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Clinical Data Report</title>
    <link rel="stylesheet" href="{% static "css/clinicals.css"%}">
  </head>
  <body>
    <h1>Clincial Data Report</h1>
    <table >
      <thead>
        <th>Component Name</th>
        <th>Component Value</th>
        <th>Measure Date Time</th>
      </thead>
      {% for eachEntry in data%}
      <tr>
        <td>{{eachEntry.componentName}}</td>
        <td>{{eachEntry.componentValue}}</td>
        <td>{{eachEntry.mesuredDateTime}}</td>
      </tr>
      {%endfor%}

    </table>
    <a href="/">Home</a>



  </body>
</html>
