<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Paient List</title>
    <link rel="stylesheet" href="{% static "css/clinicals.css"%}">
  </head>
  <body>
    <table>
      <thead>
        <h1>Patient List</h1>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
      
      </thead>
      {%for patient in patient_list%}
      <tr>
        <td>{{patient.id}}</td>
        <td>{{patient.firstName}}</td>
        <td>{{patient.lastName}}</td>
        <td>{{patient.age}}</td>
        <td><a href="update/{{patient.id}}">Update</a></td>
        <td><a href="delete/{{patient.id}}">Delete</a></td>
        <td><a href="addData/{{patient.id}}">Add Data</a></td>
        <td><a href="analyze/{{patient.id}}">Analyze Data</a>  </td>
      </tr>
      {%endfor%}
    </table>
    <br>
    <a href="create/">Add Patient</a>
  </body>
</html>
